@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

body {
  font-size: 14px;
}

h1 {
  font-family: "Italianno", cursive;
  font-weight: 900 !important;
  font-style: normal;
}
